{{#if SUCCESS_MESSAGE}}
  <div class="alert alert-success">
    {{SUCCESS_MESSAGE}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if ERROR_MESSAGE}}
  <div class="alert alert-danger">
    {{ERROR_MESSAGE}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{errors}}
    {{text}}
    <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

{{! //========================================================================== }}
{{#if error}}
  <div class="alert alert-danger">
    {{error}}
   
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}